<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<style type = "text/css">
	body {
		background-color: #FAFAFA;
                margin: 0
        }
  
        nav {
                background-color: #FFF;
                height: 3.3em;
                line-height: 3.3em;
                padding: 0 13.5em;
                border-bottom: 0.1px solid #DBDEDB;
        }

	.nav-home {
                margin-right: 8em;
        }
	
	.text {
                margin-left: 15em;
        }
</style>

<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>

<body>
	<nav>
                 <span class="nav-home">
                         <a href = "http://localhost:8000/"><i class="fas fa-home"></i></a>
                 </span>
         </nav>

    <div class = "text">
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
    </div>
</body>
</html>
